__pycache__/
*.py[cod]
*$py.class
*.json
*.txt
*.png
.env
venv/
.DS_Store
Prompt-Engineer-metaprompt.md
tasks/s02e04-multipe_models/pliki_z_fabryki/
tasks/s02e05-multimodality_in_practice/content
files
*.m4a